.htslib
.opencv
.emsdk
.opencvjs
singularity/wally.sif
bed/*.bed
bed/*.bed.gz
bed/*.bed.gz.tbi
*~

# Binaries
bin/
src/wally
src/ocv
src/opencv_js
src/emsdk
html/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
